<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body>

    <div class="container">
      <header>
        <nav>
          <ul class='nav nav-tabs'>
            <li><a href='/'>Back to All Cheerups</a></li>
          </ul>
        </nav>
      </header>

      <h1>Edit This Cheerup</h1>

      <div class="form-group">
        <form class="" action="/cheerups/<%=cheerup._id%>?_method=PUT" method="POST">
          <input class='form-control' type="text" name="visualmedia" value="<%=cheerup.visualmedia%>">
          <input class='form-control' type="text" name="body" value="<%=cheerup.body%>">
          <input class='form-control' type="text" name="keywords" value="<%=cheerup.keywords%>">
          <input type="submit" value="Edit Me!">
        </form>

        <form class="" action="/cheerups/<%=cheerup._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete Me!">
        </form>

      </div>
    </div>
  </body>
</html>
