<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="/newcheerupstyle.css" media="screen" title="no title">
    <title></title>
  </head>
  <body>

    <header>
      <div id='title-container'>
        <h1 id='title'>Cheerups</h1>
          <form id='inspire-btn-container' action="/cheerups/randomcheerup" method='get'>
            <button id='inspire-btn' class='btn btn-primary' type="submit" value="">Inspire Me!</button>
          </form>
      </div>

      <nav>
        <ul class='nav nav-justified'>
          <li><a href='/cheerups'>Home</a></li>
          <li><a href='/users'>All Users</a></li>
          <li><a href="/cheerups/mostcheered">Most Cheered</a></li>
          <li><a href='/cheerups/new'>Add Cheerup</a></li>
          <li><a href="/users/<%=currentUser._id%>">My Cheerups</a></li>
          <li><a href="/users/<%=currentUser._id%>/edit">My Account</a></li>
          <li><form class="" action="/sessions?_method=DELETE" method="post">
            <input id='sign-out-btn' class='navbar-link btn' type="submit" value="Sign Out">
          </form></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
      <h1><strong>Edit This Cheerup</strong></h1>
        <div class="form-group">
          <form class="" action="/cheerups/<%=cheerup._id%>?_method=PUT" method="POST">
            <input class='form-control' type="text" name="visualmedia" value="<%=cheerup.visualmedia%>">
            <input class='form-control' type="text" name="body" value="<%=cheerup.body%>">
            <input class='form-control' type="text" name="keywords" value="<%=cheerup.keywords%>">
            <input id='submit-new-cheer' class='btn btn-primary' type="submit" value="Edit Me!">
          </form>

          <form class="" action="/cheerups/<%=cheerup._id%>?_method=DELETE" method="POST">
            <input id='submit-new-cheer' class='btn btn-primary' type="submit" value="Delete Me!">
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
