<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body>

<div class="container">
  <header>
    <nav>
      <ul class='nav nav-tabs'>
        <li><a href='/cheerups'>Home</a></li>
        <% if (!currentUser) { %>
          <li><a href="/users/new">Register</a></li>
          <li><a href="/sessions/new">Sign In</a></li>
        <% } %>

        <% if (currentUser) { %>
          <li><a href='/users'>View All Users</a></li>
          <li><a href='cheerups/new'>Add a New Cheerup</a></li>
          <li><form class="" action="/sessions?_method=DELETE" method="post">
            <input class='' type="submit" value="Sign Out">
        </form></li>
        <% } %>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Cheerups!</h1>

    <% if (currentUser) { %>
      <% for (var i = 0; i < allCheerups.length; i++) { %>
        <div class='col-sm-6 col-md-4'>
          <div class="thumbnail">
              <a href="cheerups/<%=allCheerups[i]._id%>">
                <% if (allCheerups[i].visualmedia) { %>
                  <img src="<%=allCheerups[i].visualmedia%>" alt=""/>
                <% } else { %>
                  <p><%=allCheerups[i].body%></p>
                <% } %>
              </a>
              <% if (allCheerups[i].visualmedia) { %>
                <p><%=allCheerups[i].body%></p>
              <% } else { %>
              <% } %>
                <% for (var k=0; k<users.length; k++) { %>
                  <% if (allCheerups[i].userId == users[k]._id) { %>
                    <p>Created by: <%=users[k].username%></p>
                  <% } %>
                <% } %>

                <form class="" action="/cheerups/<%=allCheerups[i]._id%>/cheer?_method=PUT" method="post">
                    <input type='submit' class="form-control btn btn-primary" value="&hearts; Cheer!" />
                </form>

            </div>
          </div>
        <% } %>
    <% } else { %>
      <h1>Sign in to interact</h1>
      <% for (var j=0; j<allCheerups.length; j++) { %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <% if (allCheerups[j].visualmedia) { %>
              <img src="<%=allCheerups[j].visualmedia%>" alt="" />
            <% } else { %>
              <p><%=allCheerups[j].body%></p>
            <% } %>
            <% if (allCheerups[j].visualmedia) { %>
              <p><%=allCheerups[j].body%></p>
            <% } else { %>
            <% } %>
            <% for (var l=0; l<users.length; l++) { %>
              <% if (allCheerups[j].userId == users[l]._id) { %>
                <p>Created by: <%=users[l].username%></p>
              <% } %>
            <% } %>
          </div>
        </div>
      <% } %>
    <% } %>

  </main>


</div>




  </body>
</html>
