<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="/cheerupshowstyle.css" media="screen" title="no title">

    <title></title>
    <script type="text/javascript" src='/app.js'></script>
  </head>
  <body>

      <header>
          <div id='title-container'>
            <h1 id='title'>Cheerups</h1>
            <% if (currentUser) { %>
              <form id='inspire-btn-container' action="/cheerups/randomcheerup" method='get'>
                <button id='inspire-btn' class='btn btn-primary' type="submit" value="">Inspire Me!</button>
              </form>
            <% } %>
          </div>
        <nav>
          <ul class='nav nav-justified'>
            <li><a href='/'>Home</a></li>
            <li><a href='/users'>All Users</a></li>
            <li><a href="/cheerups/mostcheered">Most Cheered</a></li>
            <li><a href='/cheerups/new'>Add Cheerup</a></li>

            <% if (currentUser.username === user.username) { %>
              <li><a href="/cheerups/<%=cheerup._id%>/edit">Edit Cheerup</a></li>
              <li><a href="/users/<%=currentUser._id%>">My Cheerups</a></li>
              <li><a href="/users/<%=currentUser._id%>/edit">My Account</a></li>
              <li><form class="" action="/sessions?_method=DELETE" method="post">
                <input id='sign-out-btn' class='navbar-link btn' type="submit" value="Sign Out">
            </form></li>
            <% } %>
          </ul>
        </nav>
      </header>

      <main>
        <div class="cheerupContainer">
          <img class='cheerupImgs img-rounded' src="<%=cheerup.visualmedia%>"/>
          <p><%=cheerup.body%></p>
          <p>Created by <a href="/users/<%=user._id%>"><%=user.username%></a> on <%=moment(cheerup.createdat).format('dddd, MMMM Do, YYYY')%></p>
          <p id='cheerup-cheers'><span class='glyphicon glyphicon-heart'></span><%=cheerup.cheers%></p>
          <% for (var i=0; i<cheerup.keywords.length; i++) { %>
            <p id='cheerup-keywords'><%=cheerup.keywords[i]%></p>
          <% } %>
        </div>
      </main>

  </body>
</html>
