<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/style.css" media="screen" title="no title">

    <title></title>
    <script type="text/javascript" src='/app.js'></script>
  </head>
  <body>

    <div class="container">
      <header>
        <nav>
          <ul class='nav nav-tabs'>
            <li><a href='/'>Home</a></li>
            <li><a href='/cheerups/new'>Add a New Cheerup</a></li>
            <% if (currentUser.username === user.username) { %>
              <li><a href="/cheerups/<%=cheerup._id%>/edit">Edit This Cheerup</a></li>
            <% } %>
          </ul>
        </nav>
      </header>

      <main>
        <div class="jumbotron">
          <img src="<%=cheerup.visualmedia%>"/>
          <p><%=cheerup.body%></p>
          <p>Created by: <%=user.username%></p>
          <p>Created on: <%=moment(cheerup.createdat).format('dddd, MMMM Do, YYYY')%></p>
          <p>Number of cheers: <%=cheerup.cheers%></p>
          <% for (var i=0; i<cheerup.keywords.length; i++) { %>
            <p><%=cheerup.keywords[i]%></p>
          <% } %>
        </div>
      </main>
    </div>

  </body>
</html>
